{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for i in items%}
            <div class="col-md-4">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Product Image 1">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name }}</h5>
                        <p class="card-text">{{ i.description }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">{{ i.price }}$</h6>
                        <button class="btn btn-primary">Purchase</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}